<div class="section-wrapper" data-id="tJTL9d">
  <section
    class="wp-block-gutenverse-section guten-element guten-section guten-tJTL9d layout-boxed align-stretch"
  >
    <div class="guten-background-overlay"></div>
    <div class="guten-container guten-column-gap-no">
      <div
        class="wp-block-gutenverse-column guten-element guten-column guten-xoVbfn"
      >
        <div class="guten-column-wrapper" data-id="xoVbfn">
          <div class="section-wrapper" data-id="KMI9Iu">
            <section
              class="wp-block-gutenverse-section guten-element guten-section guten-KMI9Iu layout-boxed align-stretch"
            >
              <div class="guten-container guten-column-gap-no">
                <div
                  class="wp-block-gutenverse-column guten-element guten-column guten-HVqVtr"
                >
                  <div class="guten-column-wrapper" data-id="HVqVtr">
                    <div
                      class="wp-block-gutenverse-image guten-element guten-image guten-KmUC7S"
                    >
                      <div class="guten-image-wrapper">
                        <img
                          loading="lazy"
                          decoding="async"
                          class="gutenverse-image-box-filled"
                          src="assets/images/2025/10/logo-white.png"
                          height="108"
                          width="302"
                        />
                      </div>
                    </div>

                    <div
                      class="guten-element gutenverse-text-editor guten-aV3qXg"
                    >
                      <div class="text-content-inner">
                        <p>
                          Diseñamos y creamos muebles de madera únicos, con tradición artesanal y atención profesional.
                        </p>
                      </div>
                    </div>

                    <div
                      class="guten-element guten-social-icons guten-krfU3J rounded horizontal fill"
                    >
                      <div
                        class="guten-element guten-social-icon guten-d2qyZb facebook"
                      >
                        <a id="guten-d2qyZb" href="index.html#"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </div>

                      <div
                        class="guten-element guten-social-icon guten-gy4YYD twitter"
                      >
                        <a id="guten-gy4YYD" href="index.html#"
                          ><i class="fab fa-x-twitter"></i
                        ></a>
                      </div>

                      <div
                        class="guten-element guten-social-icon guten-5YgRrM instagram"
                      >
                        <a id="guten-5YgRrM" href="index.html#"
                          ><i class="fab fa-instagram"></i
                        ></a>
                      </div>

                      <div
                        class="guten-element guten-social-icon guten-6ZCpSh youtube"
                      >
                        <a id="guten-6ZCpSh" href="index.html#"
                          ><i class="gtn gtn-youtube-v-light"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="wp-block-gutenverse-column guten-element guten-column guten-76wEdv"
                >
                  <div class="guten-column-wrapper" data-id="76wEdv">
                    <h2
                      class="wp-block-gutenverse-heading guten-element guten-NU73Ef"
                    >
                      Enlaces rápidos
                    </h2>

                    <div
                      class="wp-block-gutenverse-divider guten-element guten-divider guten-5jMEd6"
                    >
                      <div class="guten-divider-wrapper">
                        <div
                          class="guten-divider-default guten-divider-line guten-divider-regular"
                        ></div>
                      </div>
                    </div>

                    <div class="guten-element guten-icon-list guten-1hxd2C">
                      <div
                        class="guten-element guten-icon-list-item guten-4SOV7o"
                      >
                        <a id="guten-4SOV7o" href="index.html#"
                          ><span class="list-text no-icon">Acerca de nosotros</span></a>
                      </div>

                      <div
                        class="guten-element guten-icon-list-item guten-WC2dE4"
                      >
                        <a id="guten-WC2dE4" href="index.html#"
                          ><span class="list-text no-icon">Servicios</span></a>
                      </div>

                      <div
                        class="guten-element guten-icon-list-item guten-OvIJUR"
                      >
                        <a id="guten-OvIJUR" href="index.html#"
                          ><span class="list-text no-icon">Proyectos</span></a>
                      </div>

                      <div
                        class="guten-element guten-icon-list-item guten-iQplFZ"
                      >
                        <a id="guten-iQplFZ" href="index.html#"
                          ><span class="list-text no-icon">Precios</span></a>
                      </div>

                      <div
                        class="guten-element guten-icon-list-item guten-kEGxwO"
                      >
                        <a id="guten-kEGxwO" href="index.html#"
                          ><span class="list-text no-icon">Contacto</span></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="wp-block-gutenverse-column guten-element guten-column guten-r73Qtt"
                >
                  <div class="guten-column-wrapper" data-id="r73Qtt">                  </h2>
                    <h2
                      class="wp-block-gutenverse-heading guten-element guten-BTLVe5"
                    >
                      Enlaces útiles
                    </h2>

                    <div
                      class="wp-block-gutenverse-divider guten-element guten-divider guten-8atabI"
                    >
                      <div class="guten-divider-wrapper">
                        <div
                          class="guten-divider-default guten-divider-line guten-divider-regular"
                        ></div>
                      </div>
                    </div>

                    <div class="guten-element guten-icon-list guten-GHFpu0">
                      <div
                        class="guten-element guten-icon-list-item guten-i88ui3"
                      >
                        <a id="guten-i88ui3" href="index.html#"
                          ><span class="list-text no-icon">Política de privacidad</span></a>
                      </div>

                      <div
                        class="guten-element guten-icon-list-item guten-TKcXAm"
                      >
                        <a id="guten-TKcXAm" href="index.html#"
                          ><span class="list-text no-icon">Términos y condiciones</span></a>
                      </div>

                      <div
                        class="guten-element guten-icon-list-item guten-xCgUm0"
                      >
                        <a id="guten-xCgUm0" href="index.html#"
                          ><span class="list-text no-icon">Aviso legal</span></a>
                      </div>

                      <div
                        class="guten-element guten-icon-list-item guten-JkLdhe"
                      >
                        <a id="guten-JkLdhe" href="index.html#"
                          ><span class="list-text no-icon">Soporte</span></a>
                      </div>

                      <div
                        class="guten-element guten-icon-list-item guten-Zc81JK"
                      >
                        <a id="guten-Zc81JK" href="index.html#"
                          ><span class="list-text no-icon">Preguntas frecuentes</span></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="wp-block-gutenverse-column guten-element guten-column guten-k41J12"
                >
                  <div class="guten-column-wrapper" data-id="k41J12">                  </h2>
                    <h2
                      class="wp-block-gutenverse-heading guten-element guten-NeyxXR"
                    >
                      Horario
                    </h2>

                    <div
                      class="wp-block-gutenverse-divider guten-element guten-divider guten-tnn9CT"
                    >
                      <div class="guten-divider-wrapper">
                        <div
                          class="guten-divider-default guten-divider-line guten-divider-regular"
                        ></div>
                      </div>
                    </div>

                    <div class="guten-element guten-icon-list guten-uwI8xq">
                      <div class="guten-element guten-icon-list-item guten-zX85dZ">
                        <a id="guten-zX85dZ"
                          ><i class="far fa-clock"></i
                          ><span class="list-text"
                            >08:00 &#8211; 17:00, Lunes &#8211; Sábado</span
                          ></a
                        >
                      </div>
                    </div>

                    <div class="guten-element gutenverse-text-editor guten-LSNmNP">
                      <div class="text-content-inner">
                        <p>
                          Tu espacio ideal comienza con una conversación.
                        </p>
                      </div>
                    </div>

                    <div
                      class="guten-element guten-button-wrapper guten-ILhpPC"
                    >
                      <a class="guten-button guten-button-sm" href="index.html#"
                        ><span>Contáctenos hoy</span></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="section-wrapper" data-id="hjI3lB">
            <section
              class="wp-block-gutenverse-section guten-element guten-section guten-hjI3lB layout-boxed align-stretch"
            >
              <div class="guten-container guten-column-gap-no">
                <div
                  class="wp-block-gutenverse-column guten-element guten-column guten-tcLRqE"
                >
                  <div class="guten-column-wrapper" data-id="tcLRqE">
                    <div
                      class="guten-element gutenverse-text-editor guten-pQyLaY"
                    >
                      <div class="text-content-inner">
                        <p>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="wp-block-gutenverse-column guten-element guten-column guten-HUxbZD"
                >
                  <div class="guten-column-wrapper" data-id="HUxbZD">
                    <div
                      class="guten-element gutenverse-text-editor guten-tmu8h1"
                    >
                      <div class="text-content-inner">
                       <p>© 2025 HOLZDESIGNS. Todos los derechos reservados.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
