<div class="section-wrapper" data-id="MJfkOV">
  <section
    class="wp-block-gutenverse-section guten-element guten-section guten-MJfkOV layout-boxed align-stretch"
  >
    <div class="guten-container guten-column-gap-no">
      <div
        class="wp-block-gutenverse-column guten-element guten-column guten-VOGLYu"
      >
        <div class="guten-column-wrapper" data-id="VOGLYu">
          <div class="section-wrapper" data-id="DgIPhH">
            <section
              class="wp-block-gutenverse-section guten-element guten-section guten-DgIPhH hide-mobile layout-boxed align-stretch"
            >
              <div class="guten-container guten-column-gap-no">
                <div
                  class="wp-block-gutenverse-column guten-element guten-column guten-X2jvX4"
                >
                  <div class="guten-column-wrapper" data-id="X2jvX4">
                    <div class="guten-element guten-icon-list guten-cUwp4t">
                      <div
                        class="guten-element guten-icon-list-item guten-LcFICk"
                      >
                        <a id="guten-LcFICk"
                          ><i class="fas fa-clock"></i
                          ><span class="list-text"
                            >Horario: Lun-Vie 08:00 &#8211; 17:00</span
                          ></a
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="wp-block-gutenverse-column guten-element guten-column guten-CxD57G"
                >
                  <div class="guten-column-wrapper" data-id="CxD57G">
                    <div
                      class="guten-element guten-icon-list guten-aE5vVo inline-icon-list"
                    >
                      <div
                        class="guten-element guten-icon-list-item guten-Yw6aUW"
                      >
                        <a id="guten-Yw6aUW" href="index.html#"
                          ><i class="gtn gtn-facebook-light"></i
                          ><span class="list-text"></span
                        ></a>
                      </div>

                      <div
                        class="guten-element guten-icon-list-item guten-RTYWMR"
                      >
                        <a id="guten-RTYWMR" href="index.html#"
                          ><i class="fab fa-x-twitter"></i
                          ><span class="list-text"></span
                        ></a>
                      </div>

                      <div
                        class="guten-element guten-icon-list-item guten-YV6pTb"
                      >
                        <a id="guten-YV6pTb" href="index.html#"
                          ><i class="fab fa-youtube"></i
                          ><span class="list-text"></span
                        ></a>
                      </div>

                      <div
                        class="guten-element guten-icon-list-item guten-amSGOr"
                      >
                        <a id="guten-amSGOr" href="index.html#"
                          ><i class="gtn gtn-instagram-1-light"></i
                          ><span class="list-text"></span
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="section-wrapper" data-id="aYHWn9">
            <section
              class="wp-block-gutenverse-section guten-element guten-section guten-aYHWn9 layout-boxed align-stretch"
            >
              <div class="guten-container guten-column-gap-no">
                <div
                  class="wp-block-gutenverse-column guten-element guten-column guten-2EvQry"
                >
                  <div class="guten-column-wrapper" data-id="2EvQry">
                    <div
                      class="wp-block-gutenverse-image guten-element guten-image guten-ZTpeWO"
                    >
                      <div class="guten-image-wrapper">
                        <img
                          loading="lazy"
                          decoding="async"
                          class="gutenverse-image-box-filled"
                          src="assets/images/2025/10/logo-white.png"
                          height="108"
                          width="302"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="wp-block-gutenverse-column guten-element guten-column guten-6zY0hc"
                >
                  <div class="guten-column-wrapper" data-id="6zY0hc">
                    <div
                      id="guten-29dVxc"
                      class="guten-element guten-nav-menu nav-menu break-point-tablet submenu-click-title"
                      data-item-indicator="gtn gtn-chevron-down-light"
                      data-close-on-click="1"
                    >
                      <div class="gutenverse-hamburger-wrapper">
                        <button class="gutenverse-hamburger-menu">
                          <i aria-hidden="true" class="gtn gtn-bars-solid"></i>
                        </button>
                      </div>

                      <div class="gutenverse-menu-wrapper">
                        <div class="gutenverse-menu-container">
                          <ul id="menu-woodzone" class="gutenverse-menu">
                            <li
                              id="menu-item-67"
                              class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-67"
                            >
                              <a href="index.html" aria-current="page">Inicio</a>
                            </li>
                            <li
                              id="menu-item-68"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68"
                            >
                              <a href="about.html">Nosotros</a>
                            </li>
                            <li
                              id="menu-item-69"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-69"
                            >
                              <a href="services.html">Servicios</a>
                            </li>
                            <li
                              id="menu-item-353"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-353"
                            >
                              <a href="index.html#">Proyectos</a>
                              <ul class="sub-menu">
                                <li
                                  id="menu-item-70"
                                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70"
                                >
                                  <a href="proyects.html">Proyectos</a>
                                </li>
                                <li
                                  id="menu-item-71"
                                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-71"
                                >
                                  <a href="proyect-one.html">Detalles del proyecto</a>
                                </li>
                              </ul>
                            </li>
                            <li
                              id="menu-item-72"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-72"
                            >
                              <a href="index.html#">Páginas</a>
                              <ul class="sub-menu">
                                <li
                                  id="menu-item-73"
                                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-73"
                                >
                                  <a href="team.html">Nuestro carpintero</a>
                                </li>
                                <li
                                  id="menu-item-74"
                                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-74"
                                >
                                  <a href="pricing.html">Precios</a>
                                </li>
                                <li
                                  id="menu-item-75"
                                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-75"
                                >
                                  <a href="faq.html">Preguntas frecuentes</a>
                                </li>
                              </ul>
                            </li>
                            <li
                              id="menu-item-76"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-76"
                            >
                              <a href="blog.html">Blog</a>
                            </li>
                            <li
                              id="menu-item-77"
                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-77"
                            >
                              <a href="contact.html">Contacto</a>
                            </li>
                          </ul>
                        </div>
                        <div>
                          <div class="gutenverse-nav-identity-panel">
                            <div class="gutenverse-nav-site-title">
                              <a
                                href="https://www.holz-designs.com"
                                class="gutenverse-nav-logo"
                                ><img
                                  decoding="async"
                                  src="assets/images/2025/10/logo-black.png"
                                  alt="HOLZDESIGNS"
                              /></a>
                            </div>
                            <button class="gutenverse-close-menu">
                              <i
                                aria-hidden="true"
                                class="gtn gtn-times-solid"
                              ></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="wp-block-gutenverse-column guten-element guten-column guten-SQPRCa hide-tablet hide-mobile"
                >
                  <div class="guten-column-wrapper" data-id="SQPRCa">
                    <div
                      class="guten-element guten-button-wrapper guten-Sg7a0K"
                    >
                      <a class="guten-button guten-button-sm" href="index.html#"
                        ><i class="fa-lg fas fa-phone"></i
                        ><span>Llámanos</span></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
