<div class="section-wrapper" data-id="MJfkOV">
  <section
    class="wp-block-gutenverse-section guten-element guten-section guten-MJfkOV layout-boxed align-stretch"
  >
    <div class="guten-container guten-column-gap-no">
      <div
        class="wp-block-gutenverse-column guten-element guten-column guten-VOGLYu"
      >
        <div class="guten-column-wrapper" data-id="VOGLYu">
          <div class="section-wrapper" data-id="DgIPhH">
            <section
              class="wp-block-gutenverse-section guten-element guten-section guten-DgIPhH hide-mobile layout-boxed align-stretch"
            >
              <div class="guten-container guten-column-gap-no">
                <div
                  class="wp-block-gutenverse-column guten-element guten-column guten-X2jvX4"
                >
                  <div class="guten-column-wrapper" data-id="X2jvX4">
                    <div class="guten-element guten-icon-list guten-cUwp4t">
                      <div
                        class="guten-element guten-icon-list-item guten-LcFICk"
                      >
                        <a id="guten-LcFICk"
                          ><i class="fas fa-clock"></i
                          ><span class="list-text"
                            >Horario: Lun-Vie 08:00 &#8211; 17:00</span
                          ></a
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="wp-block-gutenverse-column guten-element guten-column guten-CxD57G"
                >
                  <div class="guten-column-wrapper" data-id="CxD57G">
                    <div
                      class="guten-element guten-icon-list guten-aE5vVo inline-icon-list"
                    >
                      <div class="guten-element guten-icon-list-item guten-Yw6aUW">
                        <a id="guten-Yw6aUW" href="{{ '#' | relative_url }}"
                          ><i class="gtn gtn-facebook-light"></i
                          ><span class="list-text"></span
                        ></a>
                      </div>

                      <div class="guten-element guten-icon-list-item guten-RTYWMR">
                        <a id="guten-RTYWMR" href="{{ '#' | relative_url }}"
                          ><i class="fab fa-x-twitter"></i
                          ><span class="list-text"></span
                        ></a>
                      </div>

                      <div class="guten-element guten-icon-list-item guten-YV6pTb">
                        <a id="guten-YV6pTb" href="{{ '#' | relative_url }}"
                          ><i class="fab fa-youtube"></i
                          ><span class="list-text"></span
                        ></a>
                      </div>

                      <div class="guten-element guten-icon-list-item guten-amSGOr">
                        <a id="guten-amSGOr" href="{{ '#' | relative_url }}"
                          ><i class="gtn gtn-instagram-1-light"></i
                          ><span class="list-text"></span
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="section-wrapper" data-id="aYHWn9">
            <section
              class="wp-block-gutenverse-section guten-element guten-section guten-aYHWn9 layout-boxed align-stretch"
            >
              <div class="guten-container guten-column-gap-no">
                <div
                  class="wp-block-gutenverse-column guten-element guten-column guten-2EvQry"
                >
                  <div class="guten-column-wrapper" data-id="2EvQry">
                    <div
                      class="wp-block-gutenverse-image guten-element guten-image guten-ZTpeWO"
                    >
                      <div class="guten-image-wrapper">
                        <img
                          loading="lazy"
                          decoding="async"
                          class="gutenverse-image-box-filled"
                          src="{{ '/assets/images/2025/10/logo-white.png' | relative_url }}"
                          height="108"
                          width="302"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="wp-block-gutenverse-column guten-element guten-column guten-6zY0hc"
                >
                  <div class="guten-column-wrapper" data-id="6zY0hc">
                    <div
                      id="guten-29dVxc"
                      class="guten-element guten-nav-menu nav-menu break-point-tablet submenu-click-title"
                      data-item-indicator="gtn gtn-chevron-down-light"
                      data-close-on-click="1"
                    >
                      <div class="gutenverse-hamburger-wrapper">
                        <button class="gutenverse-hamburger-menu">
                          <i aria-hidden="true" class="gtn gtn-bars-solid"></i>
                        </button>
                      </div>

                      <div class="gutenverse-menu-wrapper">
                        <div class="gutenverse-menu-container">
                          <ul id="menu-woodzone" class="gutenverse-menu">
                            <li
                              id="menu-item-67"
+                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-67 {% if page.url == '/' or page.url == '' %}current-menu-item{% endif %}"
                            >
                              <a href="{{ '/' | relative_url }}" aria-current="page">Inicio</a>
                            </li>
                            <li
                              id="menu-item-68"
+                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68 {% if page.url == '/nosotros/' or page.url == '/nosotros' or page.url contains '/nosotros' %}current-menu-item{% endif %}"
                            >
                              <a href="{{ '/nosotros' | relative_url }}">Nosotros</a>
                            </li>
                            <li
                              id="menu-item-69"
+                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-69 {% if page.url == '/servicios/' or page.url == '/servicios' or page.url contains '/servicios' %}current-menu-item{% endif %}"
                            >
                              <a href="{{ '/servicios' | relative_url }}">Servicios</a>
                            </li>
                            <li
                              id="menu-item-353"
+                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-353 {% if page.url contains 'proyect' or page.url contains 'proyecto' or page.url contains '/proyectos' %}current-menu-item{% endif %}"
                            >
                              <a href="{{ 'proyectos' | relative_url }}">Proyectos</a>
                              <ul class="sub-menu">
                                <li
                                  id="menu-item-70"
+                                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70 {% if page.url == '/proyectos/' or page.url == '/proyectos' or page.url contains '/proyectos' %}current-menu-item{% endif %}"
                                >
                                  <a href="{{ '/proyectos' | relative_url }}">Proyectos</a>
                                </li>
                                <li
                                  id="menu-item-71"
+                                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-71 {% if page.url == '/proyect-one.html' or page.url contains 'proyect-one' %}current-menu-item{% endif %}"
                                >
                                  <a href="{{ '/proyect-one.html' | relative_url }}">Detalles del proyecto</a>
                                </li>
                              </ul>
                            </li>
                            <li
                              id="menu-item-72"
+                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-72 {% if page.url contains 'team' or page.url contains 'pricing' or page.url contains 'faq' %}current-menu-item{% endif %}"
                            >
                              <a href="{{ '/team' | relative_url }}">Páginas</a>
                              <ul class="sub-menu">
                                <li
                                  id="menu-item-73"
+                                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-73 {% if page.url == '/team/' or page.url == '/team' or page.url contains '/team' %}current-menu-item{% endif %}"
                                >
                                  <a href="{{ '/team' | relative_url }}">Nuestro carpintero</a>
                                </li>
                                <li
                                  id="menu-item-74"
+                                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-74 {% if page.url == '/pricing/' or page.url == '/pricing' or page.url contains '/pricing' %}current-menu-item{% endif %}"
                                >
                                  <a href="{{ '/pricing' | relative_url }}">Precios</a>
                                </li>
                                <li
                                  id="menu-item-75"
+                                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-75 {% if page.url == '/faq/' or page.url == '/faq' or page.url contains '/faq' %}current-menu-item{% endif %}"
                                >
                                  <a href="{{ '/faq' | relative_url }}">Preguntas frecuentes</a>
                                </li>
                              </ul>
                            </li>
                            <li
                              id="menu-item-76"
+                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-76 {% if page.url == '/blog/' or page.url == '/blog' or page.url contains '/blog' %}current-menu-item{% endif %}"
                            >
                              <a href="{{ '/blog' | relative_url }}">Blog</a>
                            </li>
                            <li
                              id="menu-item-77"
+                              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-77 {% if page.url == '/contacto/' or page.url == '/contacto' or page.url contains '/contacto' %}current-menu-item{% endif %}"
                            >
                              <a href="{{ '/contacto' | relative_url }}">Contacto</a>
                            </li>
                          </ul>
                        </div>
                        <div>
                          <div class="gutenverse-nav-identity-panel">
                            <div class="gutenverse-nav-site-title">
                              <a
                                href="https://www.holz-designs.com"
                                class="gutenverse-nav-logo"
                                ><img
                                  decoding="async"
                                  src="{{ '/assets/images/2025/10/logo-black.png' | relative_url }}"
                                  alt="HOLZDESIGNS"
                              /></a>
                            </div>
                            <button class="gutenverse-close-menu">
                              <i
                                aria-hidden="true"
                                class="gtn gtn-times-solid"
                              ></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="wp-block-gutenverse-column guten-element guten-column guten-SQPRCa hide-tablet hide-mobile"
                >
                  <div class="guten-column-wrapper" data-id="SQPRCa">
                    <div class="guten-element guten-button-wrapper guten-Sg7a0K">
                      <a class="guten-button guten-button-sm" href="{{ '#' | relative_url }}"
                        ><i class="fa-lg fas fa-phone"></i
                        ><span>Llámanos</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
