<script id="wp-block-template-skip-link-js-after">
  (function () {
    var skipLinkTarget = document.querySelector("main"),
      sibling,
      skipLinkTargetID,
      skipLink;

    // Early exit if a skip-link target can't be located.
    if (!skipLinkTarget) {
      return;
    }

    /*
     * Get the site wrapper.
     * The skip-link will be injected in the beginning of it.
     */
    sibling = document.querySelector(".wp-site-blocks");

    // Early exit if the root element was not found.
    if (!sibling) {
      return;
    }

    // Get the skip-link target's ID, and generate one if it doesn't exist.
    skipLinkTargetID = skipLinkTarget.id;
    if (!skipLinkTargetID) {
      skipLinkTargetID = "wp--skip-link--target";
      skipLinkTarget.id = skipLinkTargetID;
    }

    // Create the skip link.
    skipLink = document.createElement("a");
    skipLink.classList.add("skip-link", "screen-reader-text");
    skipLink.href = "#" + skipLinkTargetID;
    skipLink.innerHTML = "Skip to content";

    // Inject the skip link.
    sibling.parentElement.insertBefore(skipLink, sibling);
  })();
</script>
<script id="gutenverse-frontend-event-js-extra">
  var GutenverseFrontendConfig = {
    wpjson_url: "https:\/\/www.holz-designs.com\/wp-json\/",
    wpjson_nonce: "54d38c449d",
    wpjson_endpoint:
      "https:\/\/www.holz-designs.com\/wp-admin\/admin-ajax.php?action=rest-nonce",
    framework_asset:
      "https:\/\/www.holz-designs.com\/assets\/plugins\/gutenverse-form\/lib\/framework\/assets\/",
    framework_version: "2.1.0",
    image_placeholder:
      "https:\/\/www.holz-designs.com\/assets\/plugins\/gutenverse-form\/lib\/framework\/assets\/img\/img-placeholder.jpg",
  };
  var GutenverseData = {
    postId: "47",
    homeUrl: "https:\/\/www.holz-designs.com",
    query: { q_search: null },
    settingsData: [],
    activePlugins: [
      "wordpress-importer\/wordpress-importer.php",
      "wordfence\/wordfence.php",
      "php-server-configuration\/php-info-nsi.php",
      "wp-file-manager\/file_folder_manager.php",
      "ajegstudio-server\/ajegstudio-server.php",
      "gutenverse\/gutenverse.php",
      "gutenverse-form\/gutenverse-form.php",
      "gutenverse-helper\/gutenverse-helper.php",
      "wppusher\/wppusher.php",
      "ns-cloner-site-copier\/ns-cloner.php",
      "wp-svg-images\/wp-svg-images.php",
      "duplicate-post\/duplicate-post.php",
    ],
    featuredImage:
      "https:\/\/www.holz-designs.com\/assets\/plugins\/gutenverse-form\/lib\/framework\/assets\/img\/img-placeholder.jpg",
    breakPoints: { Tablet: 1024, Mobile: 767 },
  };
  var GutenverseFormValidationData = {
    data: [],
    missingLabel:
      "Form action is missing, please assign form action into this form.",
    isAdmin: "",
  };
</script>
<script
  src="{{ '/assets/plugins/gutenverse-form/lib/framework/assets/js/corefrontend.js' | relative_url }}"
  id="gutenverse-frontend-event-js"
></script>
<script
  src="{{ '/assets/plugins/gutenverse-form/assets/js/frontend.js' | relative_url }}"
  id="gutenverse-form-frontend-js"
></script>
<script src="assets/js/dist/vendor/lodash.min.js" id="lodash-js"></script>
<script id="lodash-js-after">
  window.lodash = _.noConflict();
</script>
<script
  src="{{ '/assets/plugins/gutenverse/assets/js/frontend.js' | relative_url }}"
  id="gutenverse-frontend-js"
></script>
